/* Add custom styles here */
body {
font-family: Arial, sans-serif;
padding: 20px;
}

h1, h2 {
text-align: center;
}

.form_container {
max-width: 400px;
margin: 0 auto;
}

.form_group {
margin-bottom: 20px;
}

.form_label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

.form_input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.form_select {
height: 38px;
}

.form_submit {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px;
cursor: pointer;
border-radius: 4px;
width: 100%;
}

.result_container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .result_text {
    margin-top: 20px;
    text-align: center;
  }

  .goback_link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .goback_btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .goback_btn:hover {
    background-color: #45a049;
  }