<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form_container">
        <h1>Edit Transaction</h1>
        <form action="{{ url_for('edit_transaction', transaction_id=transaction.id) }}" method="POST">
            <div class="form_group">
                <label for="date" class="form_label">Date:</label>
                <input type="date" name="date" id="date" class="form_input" value="{{ transaction.date }}" required>
            </div>

            <div class="form_group">
                <label for="amount" class="form_label">Amount:</label>
                <input type="number" name="amount" id="amount" class="form_input" value="{{ transaction.amount }}" required>
            </div>

            <div class="form_group">
                <label for="account" class="form_label">Account:</label>
                <select name="account" id="account" class="form_select" required>
                    <option value="Checking" {% if transaction.account == 'Checking' %}selected{% endif %}>Checking</option>
                    <option value="Savings" {% if transaction.account == 'Savings' %}selected{% endif %}>Savings</option>
                    <option value="Investment" {% if transaction.account == 'Investment' %}selected{% endif %}>Investment</option>
                </select>
            </div>

            <div class="form_group">
                <input class="form_submit form_input" type="submit" value="Update Transaction">
            </div>
        </form>
    </div>
</body>
</html>
